<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="./app.js"></script>
    <title>Document</title>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="MainCtrl">
            {{ text }}
            <hr>
            <p>No filter: {{ greeting }}</p>
            <p>Reverse: {{ greeting | reverse }}</p>
            <hr>
            <custom-button>Button as an Element</custom-button>
            <hr>
        </div>

        <div ng-controller="UserCtrl">
            <p class="username">Welcome, {{ user.details.username }}</p>
            <p class="id">User ID: {{ user.details.id }}</p>
        </div>

        <hr>
        <a custom-button>Click me</a>
        <hr>

        <div ng-controller="FilterCtrl">
            <p>Type a number to filter for higher numbers</p>
            <input type="text" ng-model="lowerBound">
            <ul>
                <li ng-repeat="number in numbers | filter:greaterThanNum">
                    {{ number }}
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
