<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="./app.js"></script>
    <script src="./src/user.controller.js"></script>
    <script src="./src/filter.controller.js"></script>
    <script src="./src/bind.controller.js"></script>
    <script src="./src/http.controller.js"></script>
    <title>Document</title>
</head>
<body>
    <div ng-app="myApp">
        <!-- scope: MainCtrl -->
        <div ng-controller="MainCtrl">
            {{ text }}
            <hr>
            <p>No filter: {{ greeting }}</p>
            <p>Reverse: {{ greeting | reverse }}</p>
            <hr>
            <custom-button>Button as an Element</custom-button>
            <hr>
        </div>
        <!-- /scope: MainCtrl -->

        <!-- scope: UserCtrl -->
        <div ng-controller="UserCtrl">
            <p class="username">Welcome, {{ user.details.username }}</p>
            <p class="id">User ID: {{ user.details.id }}</p>
        </div>
        <!-- /scope: UserCtrl -->

        <hr>
        <a custom-button>Click me</a>
        <hr>

        <!-- scope: FilterCtrl -->
        <div ng-controller="FilterCtrl">
            <p>Type a number to filter for higher numbers</p>
            <input type="text" ng-model="lowerBound">
            <ul>
                <li ng-repeat="number in numbers | filter:greaterThanNum">
                    {{ number }}
                </li>
            </ul>
        </div>
        <!-- /scope: FilterCtrl -->
        <hr>

        <!-- scope: BindCtrl -->
        <div ng-controller="BindCtrl">
            <input type="text" style="width: 250px;" ng-model="superModel" placeholder="Skrobnij sobie coś...">
            <p><strong>{{ superModel }} &#x1f4a3; {{ superModel | reverse }} </strong></p>
        </div>
        <!-- /scope: BindCtrl -->
        <hr>

        <!-- scope: HttpCtrl -->
        <div ng-controller="HttpCtrl">
            <p>{{ postings.length > 0 &&
                postings[0].company.name + ' postings list' ||
                postings[0].company.name + ' has no public postings' }}
            </p>
            <a href="" ng-click="toggle = !toggle">Toggle list</a>
            <ul ng-show="toggle">
                <li ng-repeat="posting in postings">
                    <hr width=30% align="left">
                    <p>Title: {{ posting.name }}</p>
                    <p>UUID: {{ posting.uuid }}</p>
                    <p>Location: {{ posting.location.city }}, {{ posting.location.region }}, {{ posting.location.country }}</p>
                    <p>Released Date: {{ posting.releasedDate | date:'MMM d, y h:mm:ss a' }}</p>
                    <a href="" ng-click="deletePosting($index)">Delete Posting</a>
                </li>
            </ul>
        </div>
        <!-- /scope: HttpCtrl -->
    </div>
</body>
</html>
