<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/public/app.js"></script>
    <script src="/public/src/http.controller.js"></script>
    <title>Postings</title>
</head>
<body>
    <div ng-app="myApp">
        <h1>Postings</h1>
        <a href="/" custom-button>Home</a>
        <!-- scope: HttpCtrl -->
        <div ng-controller="HttpCtrl">
            <p>{{ postings.length > 0 &&
                postings[0].company.name + ' postings list' ||
                'No postings available' }}
            </p>
            <a href="" ng-click="toggle = !toggle">Toggle list</a>
            <ul ng-show="toggle">
                <li ng-repeat="posting in postings">
                    <p>{{ posting.name }}</p>
            </ul>
        </div>
        <!-- /scope: HttpCtrl -->
    </div>
</body>
</html>
