<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/public/app.js"></script>
    <script src="/public/src/http.controller.js"></script>
    <title>Postings</title>
</head>
<body>
    <div ng-app="myApp">
        <h1>Postings</h1>
        <a href="/" custom-button>Home</a>
        <!-- scope: HttpCtrl -->
        <div ng-controller="HttpCtrl">
            <p>{{ postings.length > 0 &&
                postings[0].company.name + ' postings list' ||
                postings[0].company.name + ' has no public postings' }}
            </p>
            <a href="" ng-click="toggle = !toggle">Toggle list</a>
            <ul ng-show="toggle">
                <li ng-repeat="posting in postings">
                    <hr width=30% align="left">
                    <p>Title: {{ posting.name }}</p>
                    <p>UUID: {{ posting.uuid }}</p>
                    <p>Location: {{ posting.location.city }}, {{ posting.location.region }}, {{ posting.location.country }}</p>
                    <p>Released Date: {{ posting.releasedDate | date:'MMM d, y h:mm:ss a' }}</p>
                    <a href="" ng-click="deletePosting($index)">Delete Posting</a>
                </li>
            </ul>
        </div>
        <!-- /scope: HttpCtrl -->
    </div>
</body>
</html>
