extends _layout

block scripts
    script(src="/node_modules/angular/angular.js")
    script(src="/public/app.js")
    script(src="/public/PostingsList/module.js")
    script(src="/public/PostingsList/controller.js")
    script(src="/public/PostingsList/component.js")
  
block content
    main(ng-app="myApp")
        h1 Postings List
        a(href="/") Home
        postings-list
